<!-- Para que el menu desplegable se pliegue una vez seleccionado un item,  -->
 <!-- data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show"-->
<nav class="navbar navbar-expand-lg navbar-light bg-light menu-principal">

    <div class="container-fluid">

        <a class="navbar-brand" routerLink="home">
            <img class="imagen-logo" src="assets/img/elpisito-logo.webp" alt="Logo del Pisito. Es la silueta de una casa cuya entrada es un corazón">
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="nav-link" aria-current="page" routerLink="home">Home</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkCorporativo" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Corporativo
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="sobre-nosotros">Sobre El Pisito</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="contactar">Contactar</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="mapa-web">Mapa Web</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkSecciones" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Secciones
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="publica-anuncio">Publica tu anuncio</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="consulta-hipoteca">Consulta hipoteca</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" routerLink="nuestros-servicios">Nuestros servicios</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLinkAdministracion" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Administración
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">+ Inmueble</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">Listado de Inmuebles</a></li>
                        <li class="dropdown-divider"></li> 
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">+ Población</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">Listado de Poblaciones</a></li>
                        <li class="dropdown-divider"></li> 
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">+ Provincias</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">Listado de Provincias</a></li>
                        <li class="dropdown-divider"></li> 
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">+ Tipo</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">Listado de Tipos</a></li>
                        <li class="dropdown-divider"></li> 
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">+ Operación</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">Listado de Operaciones</a></li>
                        <li class="dropdown-divider"></li> 
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">+ Usuario</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">Listado de Usuarios</a></li>
                        <li class="dropdown-divider"></li> 
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">+ Banner</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">Listado de Banners</a></li>
                        <li class="dropdown-divider"></li> 
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">+ Banner Carousel</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">Listado de Banner Carousel</a></li>
                        <li class="dropdown-divider"></li> 
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">+ Temática</a></li>
                        <li><a data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show" class="dropdown-item" href="#">Listado de Temáticas</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>