<section class="contenedor">

    <div class="contenedor-logo">
        <img class="logo" src="assets/img/el-pisito.svg" alt="logo El Pisito">
        <span class="texto-logo">El Pisito</span>

    </div>


    <div class="contenedor-app">

        <a href="#" class="boton-app">
            <img src="assets/img/google-play.png" alt="Banner pulsable Google Play">
            <div class="textos-app">
                <span class="disponible">DISPONIBLE EN</span>
                <span class="texto-boton">Google Play</span>
            </div>

        </a>

        <a href="#" class="boton-app">
            <img src="assets/img/app-store.png" alt="Banner pulsable App Store">
            <div class="textos-app">
                <span class="disponible">CONSÍGUELO EN</span>
                <span class="texto-boton">App Store</span>
            </div>

        </a>

    



    </div>




</section>
