<section class="contenedor">

    <div class="corporativo">
        <h3>CORPORATIVO</h3>
        <div class="links">
            <a routerLink="sobre-el-pisito">Sobre El Pisito.com</a>
            <a routerLink="contactar">Contactar</a>
            <a routerLink="mapa-web">Mapa web</a>
        </div>

    </div>

    
    <div class="secciones">
        <h3>SECCIONES</h3>
        <div class="links">
            <a routerLink="publica-anuncio">Publica tu anuncio</a>
            <a routerLink="consulta-hipoteca">Consultor de hipotecas</a>
            <a routerLink="nuestros-servicios">Servicios</a>
        </div>

    </div>

