/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */
.contenedor{
    padding: 0.8rem;
    position: relative;
}

.boton-admin{
    position: absolute;
    top: 30px;
    left: 85px;
    z-index: 25;
}

h1{
    margin-bottom: 20px;
}

.contenedor-descripcion{
    margin-top: 20px;
}

.contenedor-iconos-precio{
    background-color: var(--gris-claro);
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
}

.contenedor-iconos-precio div:first-child{
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.corazon-favoritos{
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 20;
}

.subseccion{
    margin-top: 20px;
    font-size: 1.3rem;
}

.contenedor-datos-basicos{
    background-color: var(--gris-claro);
    border-radius: 0.5rem;
    padding: 1rem;
}

.contenedor-datos-basicos span{
    display: flex;
    align-items: center;
}

.contenedor-datos-basicos div{
    display: flex;
    margin-bottom: 5px;
}

.contenedor-datos-basicos div i{
    background-color: var(--gris-oscuro);
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.contenedor-muebles-acabados{
    background-color: var(--gris-claro);
    padding: 1rem;
    border-radius: 5px;
}

.contenedor-muebles-acabados span{
    display: flex;
    align-items: center;
}

.contenedor-muebles-acabados div{
    display: flex;
    margin-bottom: 5px;
}

.contenedor-muebles-acabados div i{
    background-color: var(--gris-oscuro);
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.contenedor-equipamiento-instalaciones{
    background-color: var(--gris-claro);
    padding: 1rem;
    border-radius: 5px;
}

.contenedor-equipamiento-instalaciones span{
    display: flex;
    align-items: center;
}

.contenedor-equipamiento-instalaciones div{
    display: flex;
    margin-bottom: 5px;
}

.contenedor-equipamiento-instalaciones div i{
    background-color: var(--gris-oscuro);
    width: 25px;
    height: 25px;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 0.5rem;
}

.iconos{
    display: flex;
    gap: 1rem;
    margin-right: 1rem;
}

.iconos img{
    height: 1.4rem;
    width: auto;
    border: none;
}

.iconos div{
    display: flex;
    align-items: center;
    gap: 0.2rem;
}

.iconos span{
    font-size: 1.3rem;
    color: var(--negro);
    font-weight: 600;
}

.iconos p{
    font-size: 1.3rem;
    color: var(--negro);
    font-weight: 600;
    margin-bottom: 0;
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width:576px){

 



}


/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width:768px){



}



/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width:992px){

  

}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width:1200px){




}