.contenedor{
    padding:1rem;

}

.contenedor-paginas{
    padding: 1rem;
    background-color: var(--gris-claro);
    border-radius:0.5rem;
}

.contenedor-links{
    padding: 1rem;
    background-color: var(--gris-claro);
    border-radius:0.5rem;
}

.contenedor-subida-imagen{
    padding: 1rem;
    background-color: var(--gris-claro);
    border-radius:0.5rem;
    width: 50%;
    margin-top: 1rem;
}

.contenedor-thumb-boton{

    margin-top: 1rem;
    display: flex;
    gap:1rem;
}

.thumbnail-imagen-elegida{
    width: 200px;
    height: auto;
}

h3{

    background-color: var(--gris-logo);
    color:white;
    padding: 1rem;
    border-radius:0.5rem;
    margin-bottom: 1rem;
}

p{
    font-style: italic;
}

.form-check-input{

    margin-left: 1rem;
}
