/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */
.contenedor{
    padding: 0.8rem;
    background-color: var(--gris-logo);
    border-radius: 0.5rem;
    margin-top: 25px;
    margin-bottom: 25px;
    display: flex;
    justify-content: center;
}

.formulario{
    width: 100%;
}

.titulo-busqueda{
    background-color: var(--azul-logo);
    padding: 1rem;
    color: white;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 1rem;
}

.imagen-logo{
    height: 2rem;
    width: auto;
    filter: invert(1);
    margin-left: 10px;
}

.imagen-logo2{
    height: 2rem;
    width: auto;
    filter: invert(0.75);
    margin-left: 10px;
}

.imagen-logo3{
    height: 2rem;
    width: auto;
    filter: invert(0.5);
    margin-left: 10px;
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width:576px){

 



}


/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width:768px){



}



/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width:992px){

  

}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width:1200px){




}