/* ================================================= */
/* FIRST MOBILE */
/* ================================================= */
.contenedor{
    display: flex;
    flex-direction: column;
    border: 1px solid var(--gris-medio);
    border-radius: 1rem;
    width: 100%;
    position: relative;
    overflow: hidden;
    margin-bottom: 1.5rem;
}

.corazon-favoritos{
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 20; /* PARA QUE EL CAROUSEL NO LE AFECTE */
}

.boton-admin{
    position: absolute;
    top: 20px;
    left: 75px;
    z-index: 25; /* PARA QUE EL CAROUSEL NO LE AFECTE */
}

.carousel-ficha{
    width: 100%;
}

.datos-generales{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.iconos{
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-around;
    padding: 1rem 0;
}

.icono{
    display: flex;
    align-items: center;
    gap: 0.3rem;
}

.icono img{
    height: 2rem;
    width: auto;
}

.icono span{
    font-size: 1.3rem;
    color: var(--negro);
}

.footer-datos{
    background-color: var(--gris-claro);
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0.2rem 0;
}

.cabecera-datos{
    padding: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap:1rem;
}

.descripcion{
    /* UNA LINEA */
    /* white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; */


    /* VARIAS LINEAS */
    display: -webkit-box;
    -webkit-line-clamp: 3; /*LIMITA EL TEXTO A 3 LINEAS*/
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.descripcion::first-line{
    color: var(--azul-logo);
    font-size: 1.2rem;
}

.claim{
    font-size:1rem;
    color:var(--azul-logo);
    font-size: 1.2rem;
}

.precio{
    font-size: 1.5rem;
    margin: 0;
    padding: 0;
}

/* ================================================= */
/* MEDIA QUERIES */
/* ================================================= */

/* MAYOR O IGUAL DE 576PX (A PARTIR DE 575PX INCLUSIVE) - SMARTPHONES */
@media only screen and (min-width:576px){

.contenedor{
    flex-direction: row;
}



}


/* MAYOR O IGUAL DE 768PX (A PARTIR DE 768PX INCLUSIVE) - SMARTPHONES GRANDES, TABLETS */
@media only screen and (min-width:768px){



}



/* MAYOR O IGUAL DE 992PX (A PARTIR DE 992PX INCLUSIVE) - PC PEQUEÑOS, LAPTOPS */
@media only screen and (min-width:992px){

    .descripcion{
        -webkit-line-clamp: 6; /*LIMITA EL TEXTO A 3 LINEAS*/
        line-clamp: 6;
    }   
  

}

/* MAYOR O IGUAL DE 1200PX (A PARTIR DE 1200PX INCLUSIVE) - PC GRANDES, TELEVISIONES */
@media only screen and (min-width:1200px){




}