<section class="contenedor">
    <header class="carousel-ficha">
        <app-carousel-ficha [datos]="datos"></app-carousel-ficha>
    </header>
    <div class="datos-generales">
        <header class="cabecera-datos">
            <h3 class="claim">{{datos.claim}} {{datos.poblacion.nombre}}</h3>
            <p class="precio">{{datos.precio | euros}}</p>
            <p class="descripcion">{{datos.descripcion}}</p>
        </header>
        <footer class="footer-datos">
            <div class="iconos">
                <div class="icono">
                    <span>{{datos.banhos}}</span>
                    <img src="assets/img/banos.svg" alt="icono de un baño">
                </div>
                <div class="icono">
                    <span>{{datos.habitaciones}}</span>
                    <img src="assets/img/habitaciones.svg" alt="icono de las habitaciones">
                </div>
                <div class="icono">
                    <span>{{datos.planta}}</span>
                    <img src="assets/img/planta.svg" alt="icono de la planta">
                </div>
            </div>
        </footer>
    </div>
    <!-- BOTON ADMINISTRACION: soLO APARECERÁ SI EL USUARIO ESTA REGISTRADO Y ES ADMINISTRADOR O SUPER ADMINISTRADOR -->
     @if (_authService.isLoggedIn() && (_authService.usuario()?.rol === 'ROLE_ADMIN' || _authService.usuario()?.rol === 'ROLE_SUPERADMIN')) {
        <app-boton-admin [idInmueble]="datos.id"></app-boton-admin>
     }

     <!-- LOGO INMOBILIARIA -->
      <app-gadget-logo-inmobiliaria></app-gadget-logo-inmobiliaria>

     <app-corazon-favoritos class="corazon-favoritos" [elInmueble]="datos"></app-corazon-favoritos>
     
</section>